pug/DDD.pug
html
  head
    meta(charset="utf-8")
    title Défenseur des droits
    link(rel="stylesheet", href="main.css")
  body
    main#DDD   
      header
        nav#home
          a(href="index.html") < Retour accueil
        h2
          span Défenseur des droits
      section
        article#what
          h3 Une institution pour la défense et la promotion de vos droits
          p Le Défenseur des droits est une institution indépendante de l'État. Créée en 2011 et inscrite dans la Constitution, elle s'est vu confier deux missions :
          ul
            li défendre les personnes dont les droits ne sont pas respectés ;
            li permettre l'égalité de tous et toutes dans l'accès aux droits.
          p Toute personne physique (un individu) ou toute personne morale (une société, une association…) peut le saisir directement et gratuitement lorsqu'elle :
          ul
            li a des difficultés dans ses relations avec un service public (Caisse d'Allocations Familiales, Pôle Emploi, retraite…) ;
            li estime que les droits d'un enfant ne sont pas respectés ;
            li pense qu'elle est discriminée ;
            li constate qu'un représentant de l'ordre public (police, gendarmerie, douane...) ou privé (un agent de sécurité…) n'a pas respecté les règles de bonne conduite ;
            li souhaite etre orientée ou protégé en tant que lanceur d'alerte.
          p Le Défenseur des droits est né de la réunion de quatre institutions : le Médiateur de la République, le Défenseur des enfants, la Haute Autorité de Lutte contre les Discriminations et pour l'Égalité (HALDE) et la Commission Nationale de Déontologie de la Sécurité (CNDS).
          p Près de 250 personnes travaillent au siège du Défenseur des droits, à Paris. En France métropolitaine et outre-mer, prés de 500 délégués vous accueillent et vous orientent dans vos démarches.
        article#who
          h3 Une institution dirigée par Jacques Toubon
          p Le Défenseur des droits est une autorité administrative indépendante (AAI) dont l'existence est inscrite dans la Constitution. Ce statut unique lui garantit une véritable autonomie pour agir. Son représentant, Jacques Toubon, ne reçoit d'instructions de personne – ni du gouvernement, ni de l'administration, ni d'un groupe de pression. Il ne peut pas non plus être jugé pour des opinions ou des actes liés à ses fonctions, ce qui lui garantit une vraie liberté d'action.
          p Le terme Défenseur des droits désigne l'institution et la personne qui la dirige. Jacques Toubon est le Défenseur des droits depuis le 17 juillet 2014. Il a été nommé pour 6 ans par le Président de la République François Hollande. Son mandat ne pourra pas être renouvelé et n'est pas révocable. Enfin, il ne peut pas exercer en même temps une autre fonction, quelle qu'elle soit.

    script(src="functions.js")

DDD.html

<html>
	<head>
		<meta charset="utf-8"/>
		<title>Défenseur des droits</title>
		<link rel="stylesheet" href="main.css"/>
	</head>
	<body>
		<main id="DDD">  
			<header>
				<nav id="home"><a href="index.html">< Retour accueil</a></nav>
				<h2><span>Défenseur des droits</span></h2>
			</header>
			<section>
				<article id="what">
					<h3>Une institution pour la défense et la promotion de vos droits</h3>
					<p>Le Défenseur des droits est une institution indépendante de l'État. Créée en 2011 et inscrite dans la Constitution, elle s'est vu confier deux missions :</p>
					<ul>
						<li>défendre les personnes dont les droits ne sont pas respectés ;</li>
						<li>permettre l'égalité de tous et toutes dans l'accès aux droits.</li>
					</ul>
					<p>Toute personne physique (un individu) ou toute personne morale (une société, une association…) peut le saisir directement et gratuitement lorsqu'elle :</p>
					<ul>
						<li>a des difficultés dans ses relations avec un service public (Caisse d'Allocations Familiales, Pôle Emploi, retraite…) ;</li>
						<li>estime que les droits d'un enfant ne sont pas respectés ;</li>
						<li>pense qu'elle est discriminée ;</li>
						<li>constate qu'un représentant de l'ordre public (police, gendarmerie, douane...) ou privé (un agent de sécurité…) n'a pas respecté les règles de bonne conduite ;</li>
						<li>souhaite etre orientée ou protégé en tant que lanceur d'alerte.</li>
					</ul>
					<p>Le Défenseur des droits est né de la réunion de quatre institutions : le Médiateur de la République, le Défenseur des enfants, la Haute Autorité de Lutte contre les Discriminations et pour l'Égalité (HALDE) et la Commission Nationale de Déontologie de la Sécurité (CNDS).</p>
					<p>Près de 250 personnes travaillent au siège du Défenseur des droits, à Paris. En France métropolitaine et outre-mer, prés de 500 délégués vous accueillent et vous orientent dans vos démarches.</p>
				</article>
				<article id="who">
					<h3>Une institution dirigée par Jacques Toubon</h3>
					<p>Le Défenseur des droits est une autorité administrative indépendante (AAI) dont l'existence est inscrite dans la Constitution. Ce statut unique lui garantit une véritable autonomie pour agir. Son représentant, Jacques Toubon, ne reçoit d'instructions de personne – ni du gouvernement, ni de l'administration, ni d'un groupe de pression. Il ne peut pas non plus être jugé pour des opinions ou des actes liés à ses fonctions, ce qui lui garantit une vraie liberté d'action.</p>
					<p>Le terme Défenseur des droits désigne l'institution et la personne qui la dirige. Jacques Toubon est le Défenseur des droits depuis le 17 juillet 2014. Il a été nommé pour 6 ans par le Président de la République François Hollande. Son mandat ne pourra pas être renouvelé et n'est pas révocable. Enfin, il ne peut pas exercer en même temps une autre fonction, quelle qu'elle soit.</p>
				</article>
			</section>
		</main>
		<script src="functions.js"></script>
	</body>
</html>
