DOM.html

<html>
	<head>
		<meta charset="utf-8"/>
		<title>Défenseur des droits</title>
		<link rel="stylesheet" href="main.css"/>
	</head>
	<body>
		<main id="DOM">  
			<nav id="domains">
				<nav id="home"><a href="index.html">< Retour accueil</a></nav>
				<article class="domain" id="MSP" onclick="readMore('MSP')">
					<div class="illus">
						<h3>Services publics</h3>
						<button class="morebtn">></button>
					</div>
				</article>
				<div class="more" id="moreMSP">
					<p class="intro">Défendre les droits des usagers des services publics</p>
					<p class="content">Le Défenseur des droits intervient pour défendre les droits des usagers des services publics, lorsque les démarches qu'ils ont préalablement engagées pour faire valoir leurs droits ou contester une décision n'ont pas abouti. L'accès aux droits peut en effet se trouver entravé par différents obstacles ; charge de travail, pratiques des services publics, règles de droit parfois inadaptées ou encore opacité de dispositifs parfois peu compréhensibles par les usagers.</p>
					<p class="content">Vous pouvez saisir le Défenseur des droits si vous rencontrez des difficultés avec une administration ou un service public. Le Défenseur des droits vous aidera à mieux faire valoir vos droits et pourra vous orienter dans vos démarches.</p>
				</div>
				<article class="domain" id="MDE" onclick="readMore('MDE')">
					<div class="illus">
						<h3>Enfance</h3>
						<button class="morebtn">></button>
					</div>
				</article>
				<div class="more" id="moreMDE">
					<p class="intro">Défendre les droits des enfants</p>
					<p class="content">Chaque enfant âgé de moins de 18 ans s'est vu reconnaitre des droits fondamentaux par la Convention internationale des droits de l'enfant (CIDE) en matière de soins, d'éducation, de justice, de protection sociale, de participation... En France, le Défenseur des droits est l'institution de recours en cas de violation des droits d'un enfant.</p>
					<p class="content">Le Défenseur des droits et la Défenseure des enfants, son adjointe, peuvent intervenir dans de nombreux domaines (santé, justice pénale, handicap, adoption, scolarisation, etc.) pour protéger les enfants et garantir leurs droits à l'éducation, à la santé, aux loisirs, à l'égalité et à la non-discrimination, etc…</p>
					<p class="content">Tout enfant ou jeune de moins de 18 ans, pensant que ses droits n'ont pas été respectés, peut saisir le Défenseur des droits et la Défenseure des enfants ainsi que tout adulte témoin d'un manquement au droit d'un enfant.</p>
				</div>
				<article class="domain" id="MLD" onclick="readMore('MLD')">
					<div class="illus">
						<h3>Discrimination</h3>
						<button class="morebtn">></button>
					</div>
				</article>
				<div class="more" id="moreMLD">
					<p class="intro">Défendre les personnes victimes de discrimination</p>
					<p class="content">Une discrimination est une inégalité de traitement survenue dans une situation visée par la loi (accès à un emploi, un service, un logement, etc.) et fondée sur un critère interdit par la loi (origine, handicap, sexe, âge, état de santé, etc.)</p>
					<p class="content">Les principaux critères de discrimination sont l'origine, le sexe, la grossesse, l'apparence physique, le patronyme, l'état de santé, le handicap, l'orientation sexuelle, l'âge, les opinions politiques, les croyances, les activités syndicales, l'appartenance ou la non appartenance, vraie ou supposée, à une ethnie, une nation, une race ou une religion déterminée, l'identité de genre, le lieu de résidence, la domiciliation bancaire, la perte d'autonomie, la vulnérabilité résultant de la situation économique. Défavoriser une personne en raison d'un ou de plusieurs de ces critères est interdit par la loi.</p>
					<p class="content">Ainsi, si vous pensez avoir été traité défavorablement du fait d'un ou de plusieurs de ces critères lors d'une recherche d'emploi, de logement, etc. - autrement dit, si vous pensez avoir été victime de discrimination - vous pouvez saisir le Défenseur des droits.</p>
				</div>
				<article class="domain" id="MDS" onclick="readMore('MDS')">
					<div class="illus">
						<h3>Déontologie</h3>
						<button class="morebtn">></button>
					</div>
				</article>
				<div class="more" id="moreMDS">
					<p class="intro">Veiller au respect de la déontologie par les professionnels de la sécurité</p>
					<p class="content">Le Défenseur des droits peut intervenir lorsqu'une personne a été victime ou témoin d'un non-respect de la déontologie par une personne exerçant une activité de sécurité (policier, gendarme, personnel pénitentiaire, agent de sécurité, agent de surveillance des transports en commun...). Il s'agit par exemple d'un usage disproportionné de la force, d'un comportement indigne de la fonction (gestes ou propos déplacés, insultes, menaces, tutoiement...), d'une fouille corporelle abusive, d'un contrôle d'identité intervenu dans des conditions anormales, de difficultés pour déposer une plainte, d'une mesure contestable de contrainte ou de privation de liberté (interpellation, perquisition, retenue, garde à vue, rétention…).</p>
					<p class="content">Vous pouvez saisir le Défenseur des droits si vous estimez avoir été victime d'un comportement abusif de la part d'une personne exerçant une activité de sécurité sur le territoire français ou si vous êtes témoin de faits constitutifs d'un tel abus.</p>
				</div>
				<article class="domain" id="MLA" onclick="readMore('MLA')">
					<div class="illus">
						<h3>Lanceurs d'alerte</h3>
						<button class="morebtn">></button>
					</div>
				</article>
				<div class="more" id="moreMLA">
					<p class="intro">Orienter et protéger les lanceurs d'alerte</p>
					<p class="content">Le Défenseur des droits est chargé d'orienter vers les autorités compétentes toute personne signalant une alerte dans les conditions fixées par la loi et de veiller au respect de ses droits et libertés. Ainsi, le Défenseur des droits a pour mission d'orienter et de protéger de toutes mesures de représailles.</p>
					<p class="content">Pour bénéficier de l'appui du Défenseur des droits, ce dernier ne peut être saisi que par écrit et sous double enveloppe. Tout lanceur d'alerte insèrera dans une première enveloppe fermée les éléments aussi détaillés que possibles de l'alerte ; cette première enveloppe étant elle-même insérée dans une seconde enveloppe adressée au Défenseur des droits, Libre réponse 71120, 75342 Paris Cedex 07.</p>
				</div>
			</nav>
		</main>
		<script src="functions.js"></script>
	</body>
</html>

pug/DOM.pug
- var domains = [{"code":"MSP","name":"Services publics","intro":"Défendre les droits des usagers des services publics","content":["Le Défenseur des droits intervient pour défendre les droits des usagers des services publics, lorsque les démarches qu'ils ont préalablement engagées pour faire valoir leurs droits ou contester une décision n'ont pas abouti. L'accès aux droits peut en effet se trouver entravé par différents obstacles ; charge de travail, pratiques des services publics, règles de droit parfois inadaptées ou encore opacité de dispositifs parfois peu compréhensibles par les usagers.","Vous pouvez saisir le Défenseur des droits si vous rencontrez des difficultés avec une administration ou un service public. Le Défenseur des droits vous aidera à mieux faire valoir vos droits et pourra vous orienter dans vos démarches."]},{"code":"MDE","name":"Enfance","intro":"Défendre les droits des enfants","content":["Chaque enfant âgé de moins de 18 ans s'est vu reconnaitre des droits fondamentaux par la Convention internationale des droits de l'enfant (CIDE) en matière de soins, d'éducation, de justice, de protection sociale, de participation... En France, le Défenseur des droits est l'institution de recours en cas de violation des droits d'un enfant.","Le Défenseur des droits et la Défenseure des enfants, son adjointe, peuvent intervenir dans de nombreux domaines (santé, justice pénale, handicap, adoption, scolarisation, etc.) pour protéger les enfants et garantir leurs droits à l'éducation, à la santé, aux loisirs, à l'égalité et à la non-discrimination, etc…","Tout enfant ou jeune de moins de 18 ans, pensant que ses droits n'ont pas été respectés, peut saisir le Défenseur des droits et la Défenseure des enfants ainsi que tout adulte témoin d'un manquement au droit d'un enfant."]},{"code":"MLD","name":"Discrimination","intro":"Défendre les personnes victimes de discrimination","content":["Une discrimination est une inégalité de traitement survenue dans une situation visée par la loi (accès à un emploi, un service, un logement, etc.) et fondée sur un critère interdit par la loi (origine, handicap, sexe, âge, état de santé, etc.)","Les principaux critères de discrimination sont l'origine, le sexe, la grossesse, l'apparence physique, le patronyme, l'état de santé, le handicap, l'orientation sexuelle, l'âge, les opinions politiques, les croyances, les activités syndicales, l'appartenance ou la non appartenance, vraie ou supposée, à une ethnie, une nation, une race ou une religion déterminée, l'identité de genre, le lieu de résidence, la domiciliation bancaire, la perte d'autonomie, la vulnérabilité résultant de la situation économique. Défavoriser une personne en raison d'un ou de plusieurs de ces critères est interdit par la loi.","Ainsi, si vous pensez avoir été traité défavorablement du fait d'un ou de plusieurs de ces critères lors d'une recherche d'emploi, de logement, etc. - autrement dit, si vous pensez avoir été victime de discrimination - vous pouvez saisir le Défenseur des droits."]},{"code":"MDS","name":"Déontologie","intro":"Veiller au respect de la déontologie par les professionnels de la sécurité","content":["Le Défenseur des droits peut intervenir lorsqu'une personne a été victime ou témoin d'un non-respect de la déontologie par une personne exerçant une activité de sécurité (policier, gendarme, personnel pénitentiaire, agent de sécurité, agent de surveillance des transports en commun...). Il s'agit par exemple d'un usage disproportionné de la force, d'un comportement indigne de la fonction (gestes ou propos déplacés, insultes, menaces, tutoiement...), d'une fouille corporelle abusive, d'un contrôle d'identité intervenu dans des conditions anormales, de difficultés pour déposer une plainte, d'une mesure contestable de contrainte ou de privation de liberté (interpellation, perquisition, retenue, garde à vue, rétention…).","Vous pouvez saisir le Défenseur des droits si vous estimez avoir été victime d'un comportement abusif de la part d'une personne exerçant une activité de sécurité sur le territoire français ou si vous êtes témoin de faits constitutifs d'un tel abus."]},{"code":"MLA","name":"Lanceurs d'alerte","intro":"Orienter et protéger les lanceurs d'alerte","content":["Le Défenseur des droits est chargé d'orienter vers les autorités compétentes toute personne signalant une alerte dans les conditions fixées par la loi et de veiller au respect de ses droits et libertés. Ainsi, le Défenseur des droits a pour mission d'orienter et de protéger de toutes mesures de représailles.","Pour bénéficier de l'appui du Défenseur des droits, ce dernier ne peut être saisi que par écrit et sous double enveloppe. Tout lanceur d'alerte insèrera dans une première enveloppe fermée les éléments aussi détaillés que possibles de l'alerte ; cette première enveloppe étant elle-même insérée dans une seconde enveloppe adressée au Défenseur des droits, Libre réponse 71120, 75342 Paris Cedex 07."]}]

html
  head
    meta(charset="utf-8")
    title Défenseur des droits
    link(rel="stylesheet", href="main.css")
  body
    main#DOM   
      nav#domains
        nav#home
          a(href="index.html") < Retour accueil
        each domain in domains
          article(id= domain.code, class="domain", onclick= "readMore('"+domain.code+"')")
            div.illus
              h3= domain.name
              button.morebtn >
          div(id="more"+domain.code).more
            p.intro= domain.intro
            each content in domain.content
              p.content= content

    script(src="functions.js")
